* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  background: linear-gradient(45deg, #303030, #505050);
  color: #f0f0f0;
  font-size: 7vw;
  user-select: none;
}
main {
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  section {
    margin: 1em;
    width: 300px;
    overflow-wrap: break-word;
    font-size: 1.2em;
    h2 {
      margin-bottom: 0.5em;
    }
    p {
      margin-bottom: 0.5em;
    }
  }
}
footer {
  text-align: center;
  background: linear-gradient(45deg, #303030, #505050);
  color: #f0f0f0;
  padding: 1em;
  line-height: 2rem;
  ul {
    list-style: none;
    a {
      color: #f0f0f0;
      transition: font-size 0.2s ease-in-out;
      &:hover {
        color: #ff7575;
        font-size: 1.2em;
      }
    }
  }
}
